<!--todo implement pagination | virtual scroll | infinite scroll-->
<!--todo show loading progress-->
@if (vo(); as listVo) {
  @if (listVo.items; as items) {
    <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th>Username</th>
          <th>Role</th>

          @if (listVo.canEditUsers) {
            <th>Edit</th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-user>
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>

          @if (listVo.canEditUsers) {
            <td><button pButton type="button" (click)="onEditClick(user)">Edit</button></td>
          }
        </tr>
      </ng-template>
    </p-table>
  }

  @if (listVo.canEditUsers) {
    <p-dialog
      header="Edit user"
      [modal]="true"
      [(visible)]="isDialogOpen"
      [style]="{ width: '25rem' }"
      [formGroup]="formGroup"
    >
      <input type="hidden" formControlName="id" />

      <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" formControlName="username"/>
      </div>

      <div class="flex items-center gap-4 mb-8">
        <label for="password" class="font-semibold w-24">Password</label>
        <input pInputText id="password" class="flex-auto" autocomplete="off" formControlName="password"/>
      </div>

      <div class="flex items-center gap-4 mb-8">
        <label id="role" class="font-semibold w-24">Role</label>
        <p-selectbutton [options]="vo()?.roles" aria-labelledby="basic" ariaLabelledBy="role" formControlName="role"/>
      </div>

      <!--todo show saving progress-->

      <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="onCancelClick()" />
        <p-button label="Save" [disabled]="formGroup.invalid" (click)="onSaveClick()" />
      </div>
    </p-dialog>
  }
}
